*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    height: 80px;
    margin-right: 10px;
}

nav{
    height: 20vh;
}

.linav{
    display: flex;
    flex-direction: column;
    display: flex;
}

.anvar{
    padding: 4px;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgb(233, 114, 114) ;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0 8px
}
.anvar:hover{
    background-color: transparent;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.header{
    background-color:antiquewhite;
}

.h1header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 25vh;
    font-size: 70px;
}

#seccion1{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.div1sec1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.div2sec1{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}

#lupa{
    height: 25px;
}

#seccion2{
    margin-top: 100px;
}
.cardimg{
    height: 200px;
    width: 400px;
}
.card{
    margin:0 50px;
}

@media (max-width: 991px) {
    .anvar{
        background-color: inherit;
        width : auto;
        height: auto;
    }
    .div1sec1{
        display: flex;
        flex-direction: column;
    }
    nav{
        height: auto;
    
}
}

@media (max-width:400px){
    #seccion1{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .div2sec1{
        margin-top: 30px;
        margin-left:20px ;
    }
}

@media (max-width: 444px){
    #logo{
        height: 60px;
    }
}